body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square {
    height: 200px;
    width: 200px;
    background-color: rgba(35, 35, 35, 1);
}